<!DOCTYPE html>
<html>
  <head>
    <title>Checkitbeforeyourentit</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main'%>
  </head>

  <body>
    <%= render "/shared/header" %>
    <%= yield %>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places&callback=initMap"%>
        async defer></script>
  </body>
</html>
